.cardBill{
    width : 225px;
    border-radius : 15px; 
    background-Color :#FED942;
    border: 3px solid #fff;
}
.imgBill{
    object-fit: cover;
    aspect-ratio: 3/2;
    width : 100%;
    border-radius: 15px 15px 0 0; 
    border-bottom: 3px solid #fff;
    margin: 0 0 10px 0;
}
.Inform{
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.3);
    margin: 0 10px;
    
}
.Inform>p:nth-last-child(2)
{
 color: rgba(0,0,0);
}

.totalBill
{
 color: rgba(0,0,0);
 text-align: center;
 margin: 10px 0;
}

.Status
{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.Status>p{
    padding: 0 10px;
    background-color: red;
    color: #fff;
    border-radius: 15px;
    border: #fff solid 3px;
}

.timeCreate{
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.33);
    margin: 10px 8px;
}

.btnDetail{
    display: flex;
    justify-content: center;
    margin: 10px 8px;
}

.btnDetail>button{
    border-radius: 15px;
    width: 100px;
}